
    body,
    html {
      margin: 0;
      height: 100%;
    }

    /* Add a black background color to the top navigation */

    .topnav {
      background-color: teal;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
    }

    /* Style the links inside the navigation bar */

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    /* Change the color of links on hover */

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Add a color to the active/current link */

    .topnav a.active a:hover {
      background-color: #4CAF50;
      color: white;
    }

    /* Right-aligned section inside the top navigation */

    .topnav-right {
      float: right;
    }


    /*---footer styling---*/

    .textcopyright {
      color: white;
      text-align: center;
      padding: 10px;
      font-family: 'Roboto', sans-serif;
      background: teal;

    }

    /*parallax scrolling */


    .parallax-img2 {
      /* The image used */
      background-image: url('https://images.pexels.com/photos/556667/pexels-photo-556667.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');

      /* Full height */
      height: 100%;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .parallax-img3 {
      /* The image used */
      background-image: url('https://images.pexels.com/photos/556662/pexels-photo-556662.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');

      /* Full height */
      height: 100%;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
  
 
