{% extends 'base.html'%} {% block content %} 

<!-- Google Font-->
<link href="https://fonts.googleapis.com/css?family=Pacifico|Satisfy&display=swap" rel="stylesheet">

  
  <div class="parallax-img2"></div>
  <div style="background-color: teal; font-size:30px;padding:20px; font-family: 'Aladin', cursive;">
   <h2>Whether you are looking for a partner in crime or a lover to simply to indulge your dark side with, 
    Amor will help you find that special someone. Register now and find your soul mate today.</h2>
     

  
  </div>
  

  <div class="parallax-img3"></div>
  
{% endblock content %}
 
