{% extends 'base.html'%} {% block content %} 

  
  <div class="parallax-img2"></div>
  <div style="height:90px;background-color:teal;font-size:15px;padding:20px">
    Whether you are looking for someone to fight crime with or someone to indulge your dark side, 
    Amor will help you find that special someone. Register now and find your soul mate today.
     
  <div class="container">
    <a href= "/register" class="btn btn-primary">
      <br/>
      Register Here
    </a>
  </div>
  
  </div>
  

  <div class="parallax-img3"></div>
  
{% endblock content %}
 
