<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<h1>Hello! Welcome to Your Profile Page</h1>
<body>
    <div class="container">

first_name: {{fn}} <br/>
last_name: {{ln}} <br/>
age: {{a}} <br/>
gender: {{g}} <br/>
bio: {{bio}}
    </ul>
    </div>
    
    </br>
    
     <div class="container">
    <a href= "/updateNow" class="btn btn-primary">
      <br/>
      Update Your Profile 
    </a>
  </div>
    
</body>
</html>